<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert</title>
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- custom css file link -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
</head>
<body>
    
    <!-- header section start -->
    <header class="header">
        <a href="/" class="logo"><span>C</span>oncert</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="#home">Contact us</a>
            <a href="#home">Service</a>
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>

        </nav>
        <div id="menu-bars" class="fas fa-bars"></div>

    </header>
    <!-- header section ends -->

    <!-- Home section starts -->

    <section class="home" id="home">
        <div class="content">
            <h3>Its time to celebrate the best <span>Concert organizers</span></h3>
            <a href="event.html" class="btn">Recent Concert</a>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/static/images/1.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/2.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/3.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/5.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/4.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/6.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/7.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/8.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="/static/images/1.jpg" />
              </div>
            </div>
          </div>
    </section>

    <!-- home section end -->
    <!-- event section start -->
    <div class="post-container">
        <h3 class="heading">Recent <span>concert</span></h3>
        <a href=""><img src="/static/images/8.jpg" alt="Post Image"></a>
        <div class="buttons">
            <a href="booking.html"><button class="like-button">Buy Now</button></a>
        </div>
    </div>
    <!-- event section ends -->
    <!--about us section starts  -->
    <section class="about" id="about">
    <h1 class="heading"><span>about</span>us</h1>
    <div class="row">
        <div class="image">
            <img src="/static/images/about.jpg" alt="">
        </div>
        <div class="content">
            <h3>We will give a very special celebration for you</h3>
            <p>lorem ipsom dolor sit amet consectetur adipisicing elit. ullam labore fugiat ut esse perferendis perspiciatis </p>
            <p>This is the practice section for me i am the writer of this content
                i always writer
            </p>
            <a href="#" class="btn">contact us</a>
        </div>
    </div>
    </section>
    <!-- about us section ends -->

    <!-- Gallery section starts -->
    <section class="gallery" id="gallery">
        <h1 class="heading">Our <span>Gallery</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            <div class="box">
                <img src="/static/images/7.jpg" alt="">
                <h3 class="title">Photo and events</h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart" id="like"></a>
                    <a href="#" class="fas fa-share" id="share"></a>
                    <a href="#" class="fas fa-comment" id="comment"></a>
                </div>
            </div>
            
        </div>
    </section>


    <!-- gallery section end -->

    <!-- contact section starts -->
     
    <section class="contact" id="contact">
        <h1 class="heading"><span>contact</span> us </h1>
        <form action="">
           <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="Email">
           </div>
           <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
       </div>
           <textarea name="Your message" id="" cols="30" rows="10"></textarea>
           <input type="submit" value="send message" class="btn">
        </form>
    </section>


    <!-- contact section ends -->
 
    <!-- footer section starts -->
     <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Branches</h3>
                <a href="#"><i class="fas fa-map-market-alt"></i>Pokhara</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Kathmandu</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Biratnagar</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Dhangadi</a>
    
            </div>
    
            <div class="box">
                <h3>Quick links</h3>
                <a href="index.html"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="#"><i class="fas fa-arrow-right"></i>About</a>
                <a href="#"><i class="fas fa-arrow-right"></i>Contact Us</a>
                <a href="signup.html"><i class="fas fa-arrow-right"></i>Sign Up</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>Login</a>
            </div>
            
            <div class="box">
                <h3>Contact Info</h3>
                <a href="#"><i class="fas fa-phone"></i>88888888</a>
                <a href="#"><i class="fas fa-phone"></i>89088999</a>
                <a href="#"><i class="fas fa-envelope"></i>dummy@gmail.com</a>
                <a href="#"><i class="fas fa-envelope"></i>example@gmail.com</a>
            </div>
            <div class="box">
                <h3>Follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
                <a href="#"><i class="fab fa-twitter"></i>twitter</a>
                <a href="#"><i class="fab fa-instagram"></i>instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i>linkdin</a>
    
    
     
            </div>
         </div>
         <div class="credit">All right reserved! @2023</div>
    
     </section>

    <!-- footer section end -->



    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- custom js file link -->
    <script src="/static/js/script.js"></script>
</body>
</html>