<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    
</head>
<body>
    <!-- header section start -->
    <header class="header">
        <a href="./" class="logo"><span>C</span>oncert</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="">Contact us</a>
            <a href="">Service</a>
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>

        </nav>
        <div id="menu-bars" class="fas fa-bars"></div>

    </header>
    <!-- header section ends -->

    <!-- Home section starts -->

    <section class="main">
        <div class="signup-container">
            <h2>Sign Up</h2>
            <form>
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirmPassword">Re-type Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </section>

    <!-- homw section end -->
 
    <!-- footer section starts -->
     <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Branches</h3>
                <a href="#"><i class="fas fa-map-market-alt"></i>Pokhara</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Kathmandu</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Biratnagar</a>
                <a href="#"><i class="fas fa-map-market-alt"></i>Dhangadi</a>
    
            </div>
    
            <div class="box">
                <h3>Quick links</h3>
                <a href="index.html"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="#"><i class="fas fa-arrow-right"></i>About</a>
                <a href="#"><i class="fas fa-arrow-right"></i>Contact Us</a>
                <a href="signup.html"><i class="fas fa-arrow-right"></i>Sign Up</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>Login</a>
            </div>
            
            <div class="box">
                <h3>Contact Info</h3>
                <a href="#"><i class="fas fa-phone"></i>88888888</a>
                <a href="#"><i class="fas fa-phone"></i>89088999</a>
                <a href="#"><i class="fas fa-envelope"></i>dummy@gmail.com</a>
                <a href="#"><i class="fas fa-envelope"></i>example@gmail.com</a>
    
            </div>
            <div class="box">
                <h3>Follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
                <a href="#"><i class="fab fa-twitter"></i>twitter</a>
                <a href="#"><i class="fab fa-instagram"></i>instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i>linkdin</a>
    
    
     
            </div>
         </div>
         <div class="credit">All right reserved! @2023</div>
    
     </section>

    <!-- footer section end -->


    <script src="/static/signupjs/signup.js"></script>
</body>
</html>